<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <title>Login Page</title></head>
<body>
<h3>로그인</h3>
<form th:action="@{/login}" method="POST">
    <table>
        <tr>
            <td>아이디:</td>
            <td><input type="text" name="username" value=""/></td>
        </tr>
        <tr>
            <td>패스워드:</td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td colspan="2"><input name="submit" type="submit" value="Login"/></td>
        </tr>
    </table>
</form>
</body>
</html>